# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/nursnaaz/Inceptez/master/Batch-8/Pandas%20Test/Students_Alcohol_Consumption.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/nursnaaz/Inceptez/master/Batch-8/Pandas%20Test/Students_Alcohol_Consumption.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df=df.iloc[:,0:12]

### Step 5. Create a lambda function that captalize strings.

In [4]:
def df_upper(x):
    return x.upper();

### Step 6. Capitalize both Mjob and Fjob

In [5]:
df['Mjob']=df['Mjob'].apply(lambda x : df_upper(x))
df['Fjob']=df['Fjob'].apply(lambda x : df_upper(x))

### Step 7. Print the last elements of the data set.

In [6]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise