# Different ways to run Python?

1. IDE - Itegrated Developement Environment
2. Terminal - Command Prompt - Python Console
3. Script mode - .py

1. Run a Sample command line Script using !. Hint: PresentWorkingDirectory

In [1]:
pwd

'C:\\Users\\z023208\\OneDrive - Alliance\\Inspector\\noordheen\\python\\python-basic'

# Identifier rule
1. Cannot be a keyword
2. Should not start with a number
3. Should not have a space in between
4. No Special characters like !@#$%
5. It should be range a-z and A-Z
6. It is case Sensitive

2. Define a Identifier with a keyword. Hint: control Statement, datatypes, datastructures

In [2]:
if = 10

SyntaxError: invalid syntax (<ipython-input-2-563084b3e606>, line 1)

3. Declare a variable name "age" and assign your age

In [3]:
age = 27

4. Declare a variable name "ag e" and assign your age

In [4]:
ag e =27

SyntaxError: invalid syntax (<ipython-input-4-11f5989c42b7>, line 1)

5. Declare a variable name "1age" and assign your age

In [5]:
1age = 27

SyntaxError: invalid syntax (<ipython-input-5-c13082d14f0a>, line 1)

6. Declare a variable name "age$" and assign your age

In [6]:
age$ = 27

SyntaxError: invalid syntax (<ipython-input-6-02b837925f30>, line 1)

7. Declare a variable name "_age" and assign your age

In [7]:
_age = 27

9. Call print function with variable "Age"

In [8]:
print(Age)

NameError: name 'Age' is not defined

# Assignment Operator


Dynamically typed Programming language

10. Define a variable "name" and assign your name in quotes

In [ ]:
name = "Harish ARUMUGAM"

In [ ]:
11. Define a variable "name", "age", "gender","salary" and assign it one line.
hint : name,age,gender,salary = ...,...,...,...
Define a salary in float value

In [10]:
 name,age,gender,salary = "Harish ARUMUGAM",26,"Male",15000.500

12. Find the datatype of each variable using the function type

In [11]:
print(type(name))

<class 'str'>

In [12]:
print(type(age))

<class 'int'>

In [13]:
print(type(gender))

<class 'str'>

In [14]:
print(type(salary))

<class 'float'>

# Data Structures

1. List
2. Tuple
3. Set
4. Dictionary
5. String

# 1. List

## a. Allows Heterogenous
## b. index starts from 0
## c. Mutable 
## d. []

13. Create a list of a random number, string and list with a variable name "myList"

In [15]:
myList = [1,"harish",[1,5,7,True,"play"]]

14. Check the datatype of "myList"

In [17]:
print(type(myList))

<class 'list'>

15. Retrieve the 2nd element of "myList" using the index and print

In [18]:
print(myList[1])

harish

16. Retrieve the 1st element of a list inside a "myList" using the index and print

In [19]:
print(myList[0])

1

17. Change the 2nd element of "myList" as your name using the index  and print the complete list

In [20]:
myList[1] = "Harish ARUMUGAM"

18. Print the lenght of the list "myList"

In [22]:
len(myList)

3

19. Explore the readymade functions of list

In [34]:
myList.append("New PlayGround");
myList.remove("New PlayGround");

print(myList)

[1, 'Harish ARUMUGAM', [1, 5, 7, True, 'play']]

# 2. Tuple
## a. Allows Heterogenous
## b. index starts from 0
## c. Immutable
## d. ()

20. Create a tuple of a random number, string and list with a variable name "myTuple"

In [36]:
myTuple = (1,"Harish ARUMUGAM",myList)
print(myTuple)

(1, 'Harish ARUMUGAM', [1, 'Harish ARUMUGAM', [1, 5, 7, True, 'play']])

21. Check the datatype of "myList"

In [37]:
print(myTuple)

(1, 'Harish ARUMUGAM', [1, 'Harish ARUMUGAM', [1, 5, 7, True, 'play']])

22. Retrieve the 2nd element of "Tuple" using the index and print

In [38]:
print(myTuple[1]);

Harish ARUMUGAM

23. Retrieve the 1st element of a list inside a "myTuple" using the index and print

In [39]:
print(myTuple[0]);

1

24. Change the 2nd element of "myTuple" as your name using the index  and print the complete tuple

In [40]:
myTuple[1] = "HARISH ARUMUGAM"

TypeError: 'tuple' object does not support item assignment

# 3. Set
## a. Allows Heterogenous
## b. Does not allows duplicates
## c. Cannot access using index
## d. Sometimes it is ordered

25. Create a set of a random number with duplicates and string  with a variable name "mySet"

In [50]:
mySet = {0,"harish",7,7,8,8888,True,False,False}

26. Check the datatype of "myList"

In [51]:
print(type(mySet))

<class 'set'>

27. Retrieve the 2nd element of "mySet" using the index and print

In [52]:
print(mySet);

{0, True, 7, 8, 8888, 'harish'}

28. Add a data using readymade add function

In [53]:
mySet.add(9)

29. Print "mySet"

In [54]:
print(mySet)

{0, True, 7, 8, 9, 8888, 'harish'}

# Dictionary 
## 1. key value pair datastructure
## 2. key is unique value and cannot duplicated 
## 3. can retrieve values using the key
## 4. key is immutable
## 5. value is muttable

30. Create a dictionary of a name, age, gender, salary with a variable name "myDict"

In [58]:
myDict = {'name':'Harish ARUMUGAM','age':27,'gender':'male','salary':195.545}

31. Access the age using "age" as index

In [60]:
print(myDict['age']);

27

32. Change the age using "age" as index

In [61]:
myDict['age'] =28

In [ ]:
33. Print the myDict

In [62]:
print(myDict)

{'name': 'Harish ARUMUGAM', 'age': 28, 'gender': 'male', 'salary': 195.545}

In [68]:

myDict.pop('name')

'Harish ARUMUGAM'

In [69]:
myDict

{'age': 28, 'gender': 'male', 'salary': 195.545}