# Dictionary 
1. key value pair datastructure
2. key is unique value and cannot duplicated 
3. can retrieve values using the key
4. key is immutable
5. value is muttable

In [120]:
my_dict = {"a" : "alpha", "b" : "beta", "c": "gamma", "a":"first", 1:"one", "e":646}

In [121]:
my_dict

{'a': 'first', 'b': 'beta', 'c': 'gamma', 1: 'one', 'e': 646}

In [3]:
my_dict["c"]

'gamma'

In [124]:
my_dict[1]

'one'

In [125]:
my_dict["c"] = "third"

In [126]:
my_dict["aaa"] = "alpha first"

In [127]:
my_dict

{'a': 'first',
 'b': 'beta',
 'c': 'third',
 1: 'one',
 'e': 646,
 'aaa': 'alpha first'}

In [10]:
my_dict.pop('a')

'first'

In [11]:
my_dict

{'b': 'beta', 'c': 'gamma', 1: 'one', 'e': 646}

# String 
1. it can be retrieved by index
2. it is immutable

In [12]:
#Separate memory - String poll

a = "Chennai"

b = "Chennai"

In [13]:
a[2]

'e'

In [14]:
a[2] = "f"

TypeError: 'str' object does not support item assignment

In [15]:
a = "chennai - qww"

In [16]:
a

'chennai - qww'

# Type casting

In [135]:
a = 20.0

In [136]:
type(a)

float

In [137]:
a = int(a)

In [138]:
a

20

In [21]:
type(a)

float

In [133]:
a = str(a)

In [134]:
a

'20.0'

In [24]:
type(a)

str

In [26]:
float(a)

20.0

In [147]:
s = "1+2j"

In [148]:
type(s)

str

In [149]:
complex(s)

(1+2j)

In [153]:
lst = [1,3,4,5,6,1,2,3,6,7]

In [157]:
type(lst)

list

In [158]:
lst1 = tuple(lst)

In [159]:
type(lst)

tuple

In [160]:
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [161]:
l = [[1,2],[4,6],["a","b"],[4,6]]

In [162]:
dict(l)

{1: 2, 4: 6, 'a': 'b'}

In [27]:
lst = [1,2,3,4,5,67,2]

In [29]:
type(lst)

list

In [31]:
lst= tuple(lst)

In [32]:
type(lst)

tuple

In [33]:
lst[0] = 33

TypeError: 'tuple' object does not support item assignment

In [35]:
lst = set(lst)

In [36]:
lst

{1, 2, 3, 4, 5, 67}

In [42]:
data = [[1,2],[3,5],["a",["sw","xw"]]]

In [43]:
data

[[1, 2], [3, 5], ['a', ['sw', 'xw']]]

In [44]:
data = dict(data)

In [45]:
data

{1: 2, 3: 5, 'a': ['sw', 'xw']}

In [164]:
lst

(1, 3, 4, 5, 6, 1, 2, 3, 6, 7)

In [166]:
lst[2:6]

(4, 5, 6, 1)

In [167]:
lst[:6]

(1, 3, 4, 5, 6, 1)

In [168]:
lst[3:]

(5, 6, 1, 2, 3, 6, 7)

In [171]:
lst[::3]

(1, 5, 2, 7)

In [172]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [173]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [177]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [178]:
st = {2,4,5,6,7}

In [179]:
for i in st:
    print(i)

2
4
5
6
7

# Get the data from user from console

In [186]:
age = int(input("Enter ur age : "))

Enter ur age : a

ValueError: invalid literal for int() with base 10: 'a'

In [185]:
type(age)

int

In [191]:
a = int(input("Enter the First number: "))
b = int(input("Enter the Second number: "))

Enter the First number: 45
Enter the Second number: 23

In [59]:
type(a)

int

In [60]:
a

22

# Condition Statement

In [192]:
# "indendation"
if a > b:
    print("A is greater than B with the difference :  ",a-b)
    print("A : ",a)
else: 
    print("B is greater than A with the difference :  ",b-a)
    print("B : ",b)

A is greater than B with the difference :   22
A :  45

In [190]:
if a>0:
    print("A ia a positive number")
elif a<0:
    print("A is a negative number")
else:
    print("A is zero")

A ia a positive number

In [70]:
if a>0:
    pass
elif a<0:
    print("A is a negative number")

# Control Statement

In [193]:
a = [3,7,9,7,6,5]

In [194]:
for i in a:
    print(i)

3
7
9
7
6
5

In [196]:
for i in range(0,len(a)):
    print(a[i])

3
7
9
7
6
5

In [197]:
srt = "Hi How are you"

In [208]:
for i in srt:
    
    if i=="e":
        pass
    print(i)

H
i

H
o
w

a
r
e

y
o
u

In [78]:
a = "chennai"
for i in a:
    if i=="e":
        break
    if i == "h":
        continue
    print(i)

c

In [77]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
10
10*9*8*7....*1 =

In [90]:
fact = int(input("Enter the number to find the factorial: "))

Enter the number to find the factorial: 5

In [83]:
result = 1
for i in range(1,fact+1):
    print("iteration : ",i)
    result = result * i
    print("Intermediate result : ",result)
print("Final Factorial result ",result)

iteration :  1
Intermediate result :  1
iteration :  2
Intermediate result :  2
iteration :  3
Intermediate result :  6
iteration :  4
Intermediate result :  24
iteration :  5
Intermediate result :  120
Final Factorial result  120

In [86]:
list(range(1,16,2))

[1, 3, 5, 7, 9, 11, 13, 15]

In [88]:
len(a)

5

In [87]:
a = [1,2,3,4,5]
for i in range(0,len(a)):
    print(a[i])

1
2
3
4
5

In [95]:
result = 1
while fact>1:
    print("fact ",fact)
    result = result * fact
    fact = fact -1
print(result)

fact  5
fact  4
fact  3
fact  2
120

# Function

In [103]:
def greet(a):
    print("Hello Good Morning ",a)

In [104]:
greet("Noor")

Hello Good Morning  Noor

In [105]:
greet("Mohamed")

Hello Good Morning  Mohamed

In [107]:
def math(a,b):
    c = a+b
    d = a-b
    e = a*b
    return c,d,e

In [108]:
sums, diff, mul = math(2,5)

In [111]:
sums,diff,mul

(7, -3, 10)

In [112]:
def factorial(fact):
    result = 1
    for i in range(1,fact+1):
        result = result * i
    return result

In [116]:
factorial(10)

3628800

# Recursive function

In [118]:
def factorial(fact):
    if(fact ==1):
        return 1
    else:
        return fact*factorial(fact-1)

In [119]:
factorial(5)

120